[user]
    name = wangdahu
    email = 553784858@qq.com
[core]
    editor = vim
[color]
    ui = true
[alias]
    ci = commit
    st = status
    co = checkout
    br = branch
    ls = ls-tree --name-only HEAD
    log = log --oneline
[github]
    user = wangdahu
